:root {
  --dkblue: midnightblue;
  --wtsmoke: whitesmoke;
  --dkpurple: rgb(33, 2, 42);
  --ltpurple: rgb(190, 172, 195);
  --mdgrey: rgb(165, 165, 165);
  --ltgrey: rgb(207, 207, 207);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mate SC', serif;
  background-color: rgb(165, 165, 165);
  
}

#main {
  background: rgb(175, 157, 180);
}

#vb-css {
  color: var(--wtsmoke);
  font-weight: 600; 
}

h1 {
  font-size: 2rem;
  font-family: Courgette, 'Apple Chancery', cursive, sans-serif;
  padding:2px;
}

#icons {
  font-size: '50px';
  margin: 2%;
  color: black;
}

#about-me {
  background-color: var(--dkpurple);
  color: var(--wtsmoke);
  padding: 15px;
  margin: 2%;
  font-family: Nunito, Georgia, cursive, sans-serif;
  line-height: 22px;
  font-size: 1.40rem;
}

.email{
  color: var(--wtsmoke);
}

.email:hover{
  color: var(--ltpurple);
}

